backend/soap/myservice.wsdl

<definitions name = "MyService"
   targetNamespace = "http://localhost:5000/wsdl/MyService.wsdl"
   xmlns = "http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns = "http://localhost:5000/wsdl/MyService.wsdl"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

   <message name = "MyFunctionRequest">
      <part name = "manufacturer" type = "xsd:string"/>
   </message>
   <message name = "MyFunctionResponse">
      <part name = "name" type = "xsd:string"/>
   </message>

   <message name = "getLaptopListByMatrixTypeRequest">
      <part name = "name" type="xsd:string"/>
   </message>
   <message name = "getLaptopListByMatrixTypeResponse">
      <part name = "name" type="xsd:string" />
   </message>

   <message name = "getLaptopCountByResolutionRequest">
      <part name = "name" type = "xsd:string"/>
   </message>
   <message name = "getLaptopCountByResolutionResponse">
      <part name = "name" type = "xsd:string" />
   </message>


   <portType name = "MyPort">
      <operation name = "MyFunction">
         <input message = "tns:MyFunctionRequest"/>
         <output message = "tns:MyFunctionResponse"/>
      </operation>

      <operation name = "getLaptopListByMatrixType">
         <input message = "tns:getLaptopListByMatrixTypeRequest"/>
         <output message = "tns:getLaptopListByMatrixTypeResponse" />
      </operation>

      <operation name = "getLaptopCountByResolution">
         <input message = "tns:getLaptopCountByResolutionRequest"/>
         <output message = "tns:getLaptopCountByResolutionResponse" />
      </operation>
   </portType>
      
   <binding name = "MyFunction_Binding" type = "tns:MyPort">
      <soap:binding style = "rpc" transport = "http://schemas.xmlsoap.org/soap/http"/>

      <operation name = "MyFunction">
         <soap:operation soapAction = "MyFunction"/>
         <input>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </input>
         <output>
            <soap:body encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/" namespace = "urn:examples:MyService" use = "encoded"/>
         </output>
      </operation>

      <operation name = "getLaptopListByMatrixType">
         <soap:operation soapAction = "getLaptopListByMatrixType"/>
         <input>
            <soap:body use = "literal"/>
         </input>
         <output>
            <soap:body use = "literal"/>
         </output>
      </operation>

      <operation name = "getLaptopCountByResolution">
         <soap:operation soapAction = "getLaptopCountByResolution"/>
         <input>
            <soap:body use = "literal"/>
         </input>
         <output>
            <soap:body use = "literal"/>
         </output>
      </operation>

   </binding>

   <service name = "MyService">
      <documentation>WSDL File for MyService</documentation>
      <port binding = "tns:MyFunction_Binding" name = "MyPort">
         <soap:address location = "http://localhost:5000/MyFunction/" />
      </port>
   </service>

</definitions>
